<launch>
<!--启动两个乌龟节点，ns代表命名空间，每个group的命名空间应该不同-->
        <group ns="first">
            <node   pkg="turtlesim" type="turtlesim_node"   name="my_turtle"    output="screen" />
            <node   pkg="turtlesim" type="turtle_teleop_key"   name="my_key"    output="screen" />
        </group>
        <group ns="second">
            <node   pkg="turtlesim" type="turtlesim_node"   name="my_turtle"    output="screen" />
            <node   pkg="turtlesim" type="turtle_teleop_key"   name="my_key"    output="screen" />
        </group>
</launch>